html, body, #root {
	height: 100%;
	font-family: Arial;
}

body {
	margin: 0;
	
}

div {
	border: 1px solid green;
}

#root {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.row {
	flex: 1;
	display: flex;
}

.row:first-child { 
	flex-grow: 4;
}

.col {
	flex: 1;
}

.active {
	text-decoration: line-through;
	
}

.hovered{
	font-size: 100px;
}



