html
    head
        title Users page title
    body
        h1 This is H1 #{'test '.repeat(3).toUpperCase()}
        ul
            li li1 #{Array(10).fill(0).map((e)=> e)}
            li li2 
            if 1 > 10
                li li3
            if 1 < 10
                li li4 
            for i in [1, 2, 3]
                li hi, #{ i }        